#tituloIniciarSesion{
    font-weight: bold;
    font-size: 3em;
    padding: 30px;
}



.login {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
}

#recuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 400px;
    height: 500px;
    border: 3px solid black;
}

